@import "../../../styles/common";

.gems-footer {
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 991px) {
    flex-direction: column;
  }

  .footer-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 991px) {
      margin: 1rem 0;
    }
    @media screen and (max-width: 767px) {
      flex-direction: column;
    }
    li {
      a {
        cursor: pointer;
        color: #000;
        display: flex;
        padding: 0 1.5rem;
        text-decoration: none;
        font-size: 1.2rem;
        font-family: $vag-rounded-bold;
        @media screen and (max-width: 767px) {
          padding: 0.5rem 1.5rem;
        }
      }
    }
  }
  .footer-social-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    @media screen and (max-width: 991px) {
      margin: 1rem 0;
    }
    li {
      a {
        color: #000;
        display: flex;
        padding: 0rem;
        text-decoration: none;
        font-size: 1.1rem;
        background: #ffffff;
        height: 2rem;
        width: 2rem;
        margin: 0 0.2rem;
        background-image: url("../../../images/gems/social-links.svg");
        background-size: 7.1rem;
        background-repeat: no-repeat;
        &.fb {
          background-position: 0.5rem;
        }
        &.insta {
          background-position: -2.2rem;
        }
        &.youtube {
          background-position: -5.2rem 0.1rem;
        }
        &.telegram {
          background-position: -8.4rem;
        }
      }
    }
  }
  .footer-guardian-link-brand {
    @media screen and (max-width: 991px) {
      margin: 1rem 0;
    }
    color: #000000;
    text-decoration: none;
  }
  img.footer-logo.mondelez{
    width: 9rem;
    @media screen and (max-width: 991px) {
      margin: 1rem 0;
    }
  }
}

.modal-content {
  background-color: #ffe500;
  a {
    color: #ff3e92;
    &:hover {
      color: white;
    }
  }

  .modal-header,
  .modal-footer {
    border: none;
  }
  .modal-header {
    padding: 1.1rem 2.1rem;
    margin: 1rem 0;
    .modal-title {
      color: #4d3686;
      margin-bottom: 1rem;
      font-family: $gothammedium;
      margin: 0;
    }
    .model-close-btn {
      svg {
        font-size: 2rem;
        color: #fff;
        cursor: pointer;
      }
    }
  }
  .modal-body {
    padding: 1.1rem 2.1rem;
    .user-profile-image-block {
      height: 12rem;
      width: 12rem;
      background: #000;
      overflow: hidden;
      border-radius: 50rem;
      position: relative;
      z-index: 2;
      margin: 0 auto 2rem;
      &::before {
        content: "";
        position: absolute;
        border: 0.1rem solid #ffe500;
        height: 94%;
        width: 94%;
        border-radius: 50rem;
        top: 0.3rem;
        left: 0.3rem;
        right: 0.3rem;
        bottom: 0.3rem;
      }
      .user-image {
        width: 100% !important;
        height: 100% !important;
      }
      .item-image {
        display: none;
        color: white;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 2rem;
      }
      .item-image-container {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        background: rgba(0, 0, 0, 0.25);
      }
      &:hover {
        .item-image,
        .item-image-container {
          display: flex;
        }
      }

      @media screen and (max-width: 767px) {
        .item-image {
          display: block;
          color: white;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          font-size: 1.5rem;
        }
        .item-image-container {
          display: block;
          width: 100%;
          height: 25%;
          position: absolute;
          top: 75%;
          background: rgba(0, 0, 0, 0.25);
        }
      }
    }

    .form-control {
      height: 2.2rem;
      box-shadow: none !important;
      padding: 0.8rem 2.5rem 0.8rem 0.8rem;
      border-radius: 8px;
      border: solid 1px #ff3e92 !important;
      background-color: #ffffff78;
      height: 3rem;
    }
    .input-title {
      margin-bottom: 0.8rem;
      color: #ff3e92;
      font-size: 1rem;
      font-family: $gothammedium;
    }
  }
  .modal-footer {
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    padding: 1.1rem 2.1rem;
    button.btn.btn-primary {
      border-radius: 50rem;
      border: solid 1px #ff3e92;
      background-color: #ff3e92;
      color: #fff;
      display: block;
      width: 100%;
      margin: 0 0 0;
      padding: 0.6rem 2rem;
      transition: 0.3s;
      position: relative;
      max-width: 11rem;
      letter-spacing: 0.1rem;
      font-family: "gothambold" !important;
    }
  }
}
