@import "../../styles/common";

.terms-text-reg {
  .terms-link {
    color: #182aff !important;
    &:hover {
      text-decoration: underline;
    }
  }
}

.password-terms {
  font-size: 0.75rem;
  margin-bottom: 8px;
  color: #222 !important;
  font-family: $gothammedium;
}

.otp {
  p {
    font-weight: bolder;
  }
  .bl_btn:disabled {
    opacity: 0.5;
    background-color: #ff3e92;
  }
}
.bl_form_heading_otp {
  color: #4d3685;
}

.bl_form_send_otp {
  color: #ff3e92 !important;
}

h5.seperator {
  display: flex;
  flex-direction: row;
  font-size: 0.6rem;
  color: #ff3e92;
}
h5.seperator:before,
h5.seperator:after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
h5.seperator:before {
  margin-right: 5px;
}
h5.seperator:after {
  margin-left: 5px;
}

h5.seperator span {
  color: black;
  font-size: 0.7rem;
}
