@import "../../styles/common";

.new-card-container {
  box-shadow: inset 0 0 15px 0 #eee;
  border-radius: 0.6rem;
  padding: 1rem;
  margin-top: 1rem;

  .dnc-title {
    font-size: 0.9rem;
    font-family: $gothambold;
  }

  label,
  input {
    font-family: $gothammedium;
    font-weight: normal !important;
  }

  .dnc-btn {
    font-family: $gothammedium;
  }

  .phone-style {
    padding: 0.3rem 0.75rem 0.3rem 60px !important;
    border-radius: 4px !important;
  }
}
